* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #222222;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    flex-grow: 0;
    flex-shrink: 1;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}
main {
    flex-grow: 1;
    display: flex;
}
footer {
    height: 100px;
    flex-grow: 0;
    flex-shrink: 1; 
    flex-basis: 100px;
}
.header-navegacao {
    display: flex;
    justify-content: space-between;
}
.navegacao-botoes {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 20px;
}
.centro-busca {
    display: flex;
    align-items: center;
    gap: 10px;
}

.busca {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 8px;
    border-radius: 1000px;
    border: 1px solid transparent;
}
.busca input[type="search"] {
    background-color: transparent;
    border: none;
    outline: none;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.busca:focus-within {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.5);
}

.menu-lateral {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px;
    /* height: 100%; - Não precisa de altura pois o padrão do align-items é stretch*/
    overflow-y: auto;
    flex-basis: 60px;
}
.menu-lateral ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-lateral ul li a {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    display: block;
    border-radius: 50%;
}
.menu-lateral ul li a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

footer {
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.musica-atual {
    padding-left: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.musica-atual i {
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px;
}
.reproducao {
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.reproducao .controles {
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.reproducao .barra-progresso {
    background-color: rgba(255, 255, 255, 0.15);
    height: 5px;
    min-width: 150px;
    max-width: 300px;
    position: relative;
}
.volume {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 15px;
}
.volume .barra-progresso {
    min-width: 50px;
    max-width: 100px;
    background-color: rgba(255, 255, 255, 0.15);
    height: 5px;
}

.playlist {
    background: linear-gradient(#9b4444, #000000 40%);
    padding: 10px;
    overflow-y: auto;
    flex: 1;
}

.playlist .playlist-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.playlist .playlist-header img {
    width: 140px;
}
.playlist .playlist-header h2 {
    font-size: 3em;
}
.playlist .playlist-header p {
    font-size: 1.1em;
}
.playlist .playlist-info .playlist-short-description {
    font-size: 0.8em;
}
.playlist .playlist-creator {
    display: flex;
    align-items: center;
    gap: 10px;
}
.playlist .playlist-reproducao {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.playlist .playlist-reproducao .playlist-controles {
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    font-size: 1.3em;
}
.playlist .playlist-reproducao .fa-play {
    font-size: 30px;
    background-color: #1ed760;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
}

.playlist .playlist-busca {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.playlist-musicas table {
    width: 100%;
    border-collapse: collapse;
}
.playlist-musicas table th {
    height: 3em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.playlist-musicas table th, .playlist-musicas table td {
    text-align: left;
    vertical-align: middle;
    height: 4em;
}

.playlist-musicas table td img {
    margin-right: 10px;
}