body {
    padding: 0;
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-areas: "cabecalho cabecalho cabecalho"
                        " aside principal principal"
                        "rodape rodape rodape";
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 250px auto auto;
}

header {
    grid-area: cabecalho;
    background-color: aqua;
}
aside {
    grid-area: aside;
    background-color: lightcoral;
}
main { 
    grid-area: principal;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .login {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
footer {
    grid-area: rodape;
    background-color: lightblue;
}