.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
}

.item9 {
    grid-column: 1 / 3;
    background-color: red;
}
.item12 {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    background-color: chartreuse;
}
