body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #999;
    padding: 0;
    height: 60px;
}

.cabecalho img {
    float: left;
    margin: 10px 20px;
    height: 40px;
}

.cabecalho ul {
    list-style: none;
    margin: 0;
    padding-left: 40px;
    float: left;
}

.cabecalho ul li {
    display: inline;
    float: left;
}
.cabecalho ul li a {
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 0 20px;
}
.cabecalho ul li a:hover {
    color: #ffcc00;
    background-color: #222;
}

.banner {
    height: 30vh;
    width: 100vw;
    background: url(../images/banner.png) no-repeat;
    background-position: center;
    background-size: cover;
}

