html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

h2 {
    color: #00ff00;
    background-color: #333;
    padding: 10px 20px;
    margin: 0;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #999;
}
#menu li {
    display: inline;
}
#menu li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}
#menu li a:hover {
    color: #00ff00;
    background: #333;
    border-color: #00ff00;
}
.apresentacao {
    background-color: #333;
    color: #00ff00;
    padding: 10px 20px;
    text-align: center;
}
.apresentacao h1 {
    margin: 0;
}
.foto-perfil {
    float: right;
    width: 50%;
    max-width: 300px;
}

.lista-conhecimentos {
    list-style-image: url('../imagens/code.png');
}

.lista-conhecimentos ul {
    list-style-image: url('../imagens/file_code.png');
}

/* Resolve problema do Float em uma "div (block)" */
.clear {
    clear: both;
}

.voltar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b2b2b2;
    color: #00ff00;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.5s;
}
.voltar:hover {
    background-color: #00ff00;
}